.wp-ajax-container {
	 -webkit-transition: opacity 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: opacity 0.1s ease-out;  /* Firefox 4-15 */
       -o-transition: opacity 0.1s ease-out;  /* Opera 10.50–12.00 */
          transition: opacity 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.wp-ajax-container.out {
	opacity: 0;
}
